@{
    ViewBag.Title = "Contact Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <br />
    Atlanta, GA 30044
    <br />
    <abbr title="Phone">P:</abbr>
    828.342.5441
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:shawn@ccalearn.tech">shawn@ccalearn.tech</a><br />
</address>